.box {
	background-color: aqua;
	display: flex;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 0px;
}
p {
	padding: 0px;
}

.top-content {
	display: flex;
	justify-content: center;
	align-items: center;
	/* justify-items: center; */
}
#img{
    display:flex-start
}
#tittle-content {
	justify-content: center;
	justify-items: center;
}
.name {
	width: 20vw;
	margin-right: 10px;
}

.titik-dua {
	margin-right: 10px;
}

.input {
	width: 500px;
	box-sizing: border-box;
	background-color: blue;
}

input {
	width: inherit;
}
